body {
    font-family: 'Open Sans', sans-serif;
}

.street {
    position: relative;
    width: 1100px;
    margin: 50px auto 0 auto;
    overflow: hidden;
    animation: street 2s linear 22s forwards;
}

.crown-tree {
    background: url("images/crown-tree-2.png") no-repeat;
    width: 251px;
    height: 233px;
    position: absolute;
    top: 70px;
    left: 150px;
}

.street-image {
    width: 1100px;
    height: 100%;
}

@keyframes street {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.street::before {
    content: "";
    position: absolute;
    background: url("images/bird.png") no-repeat 50% 50%;
    width: 50px;
    height: 45px;
    top: 350px;
    left: 600px;
    transform: scale(0.8);
    animation: bird-second 2s infinite steps(1, start);
}

.street::after {
    content: "";
    position: absolute;
    background: url("images/bird.png") no-repeat 50% 50%;
    width: 50px;
    height: 45px;
    top: 350px;
    left: 200px;
    transform: scale(-0.8, 0.8);
    animation: bird-second 2s infinite steps(1, start) -1s;
}

@keyframes bird-second  {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 50% 50%;
    }
    100% {
        background-position: 100% 50%;
    }

}

.policeman {
    width: 261px;
    height: 715px;
    position: absolute;
    background: url("images/policmen.png") no-repeat;
    top: -110px;
    left: 820px;
    transform: scale(0.5);
}

.container::after {
    content: "";
    width: 261px;
    height: 350px;
    position: absolute;
    background: url("images/policmen.png") no-repeat;
    top: 100px;
    left: 750px;
    opacity: 0;
    animation: policemen 2s forwards 24s;
}

.box {
    position: absolute;
}

.box::before {
    content: "";
    position: absolute;
    top: -220px;
    left: 820px;
    /*border: 2px solid red;*/
    width: 30px;
    height: 30px;
    /*background-image: linear-gradient(65deg, transparent 15%, rgba(255, 255, 255, 0.2) 35%, transparent 55%);*/
    border-radius: 0 0 50% 50%;
    animation: flare 1s linear forwards ;
    animation-iteration-count: 1;
}


@keyframes blick {
    0% {
        background: linear-gradient(315deg, transparent 15%, #fff 35%, transparent 55%) no-repeat;
    }
    25% {
        background: linear-gradient(315deg, transparent 35%, #fff 55%, transparent 75%) no-repeat;
    }
    50% {
        background: linear-gradient(315deg, transparent 55%, #fff 75%, transparent 95%) no-repeat;
    }
    100% {
        background: linear-gradient(315deg, transparent 75%, #fff 95%, transparent 105%) no-repeat;
    }
}


@keyframes flare
{
    0%   { background-position: -10px; }
    100 { background-position: 50px; }
}


.container:before {
    content: "Счастливого пути!";
    padding-top: 130px;
    padding-right: 70px;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    background: url("images/voice.png") no-repeat 50% 50%;
    background-size: 65%;
    width: 461px;
    height: 200px;
    position: absolute;
    top: -60px;
    left: 350px;
    opacity: 0;
    animation: policemen 8s backwards 26s;
}

@keyframes policemen {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fly {
    background: url("images/fly.png") no-repeat 50% 50%;
    width: 100px;
    height: 24px;
    position: absolute;
    top: 30px;
    left: 1300px;
    animation: fly 25s linear forwards;
}

@keyframes fly {
    0% {
        transform: translateX(1000px);
    }
    100% {
        transform: translateX(-1500px);
    }
}

.light {
    background: url("images/ligth-with-bird-2.png") no-repeat;
    height: 476px;
    width: 56px;
    position: absolute;
    top: -5px;
    left: 750px;
    transform: scale(0.8);
}

.container1 {
    position: relative;
    top: -5px;
    padding: 0px 0 0px;
    width: 50px;
    text-align: center;
    float: left;
}
ul {
    list-style: none;
    padding: 20px 10px 20px 10px;
    display: inline-block;
    background: #3C4147;
    border-radius: 10px;
    box-shadow: inset 2px 2px 5px rgba(0,0,0,.7), 2px 2px 1px #3C4147;
    animation: traffic-light 12s step-end;
}

li {
    margin-top: 5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: black;
    box-shadow: inset 2px 2px 4px rgba(0,0,0,.4), inset -2px -2px 4px rgba(255,255,255,.6);
}

@keyframes traffic-light {
    0% {
        background: #3C4147;
    }
    100% {
        background: none;
    }
}

@keyframes traffic {
    100%{background: #FB000D;}
}
@keyframes traffic1 {
    100%{background: #FED21D;}
}
@keyframes traffic2 {
    100%{background: #7DFA04;}
}

.container1 li:nth-of-type(1) {
    margin-bottom:5px;
    animation: traffic 5s backwards;
}
.container1 li:nth-of-type(2) {
    margin-bottom: 5px;
    animation: traffic1 5s backwards 5s;
}
.container1 li:nth-of-type(3) {
    animation: traffic2 5s forwards 10s;
}

.text {
    font-weight: normal;
    font-size: 20px;
    position: relative;
    top: -20px;
    right: 400px;
    width: 400px;
    text-shadow: 0 0 20px transparent;
    color: transparent;
}

.text-first {
    animation: animation-first 5s ease-in 1s;
}

.text-second {
    animation: animation-second 5s ease-in 6s;
}

.text-third {
    animation: animation-third 5s both 11s;
}

.container2 {
    width: 450px;
    text-align: center;
}

@keyframes animation-first {
    10% {
        text-shadow: 0 0px 1px #3C4147;
    }
    60% {
        text-shadow: 0 0px 1px #3C4147;
    }
    90% {
        text-shadow: 0 30px 40px transparent;
    }
}

@keyframes animation-second{
    10% {
        text-shadow: 0 0px 1px #3C4147;
    }
    60% {
        text-shadow: 0 0px 1px #3C4147;
    }
    90% {
        text-shadow: 0 30px 40px transparent;
    }
}

@keyframes animation-third {
    10% {
        text-shadow: 0 0px 2px #3C4147;
    }
    60% {
        text-shadow: 0 0px 1px #3C4147;
    }
    100% {
        text-shadow: 0 0px 1px transparent;
    }
}

.container1:before {
    content: "";
    background: url("images/bird-in-light.png") no-repeat;
    width: 50px;
    height: 48px;
    position: absolute;
    top: -40px;
    left: 2px;
    animation: bird-first 5s infinite steps(2, start);
}

@keyframes bird-first {
    0% {
        background-position: -100% 50%;
    }
    100% {
        background-position: 100% 50%;
    }

}